<style>
.button-clipboard {
    position: absolute;
    top: 0px;
    right:  0px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
    */
  }
</style>
<div class="col-md-6 col-md-offset-3">
  <h3 style="text-align:center">CPDL Tool</h3>
  
  <%= form_tag request.path, class: 'metadata' do |f| %>
    <div class="form-group">
       <%= label_tag 'Piece' %>
       <%= text_field_tag 'cpdl-piece', nil, class: 'form-control typeahead' %>
    </div>
  <% end %>
  <button id="cpdl-select" class="btn btn-default">Select</button>
  <br><br>
    
  <div data-behavior='copy'>
    <div style="display:flex;position:relative">
      <button class='button-clipboard' title="Click to copy me">Copy</button>
    </div>
    <pre id='cpdl-pdf'>
    </pre>
  </div>

  <div id="cpdl-data">
  </div>

  <div data-behavior='copy'>
    <div style = "display:flex;position:relative">
      <button class='button-clipboard' title="Click to copy me.">Copy</button>
    </div>
    <pre id="cpdl-display">
    </pre>
  </div>
</div>

<script type="text/javascript">
$(document).ready( function () {

  var pieces = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('piece'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: [
      <% @pieces.each do |piece| %>
        { piece: "<%= piece.slug %>" },
      <% end %>
    ]
  });
  
  // initialize the bloodhound suggestion engine
  pieces.initialize();
  
  // instantiate the typeahead UI
  $('#cpdl-piece').typeahead(null, {
    displayKey: 'piece',
    source: pieces.ttAdapter()
  });


});
</script>
