<div class="container">
  <div class="col-md-9">
    <h3>About St. Cecilia Press</h3>
    <p> St. Cecilia Press houses the transcriptions of Renaissance and Medieval music made by Monique Rio as well as the singable translations of Carol Anne Perry Lagemann.
        All of Monique's transcriptions are done in <%= link_to "Lilypond", "http://lilypond.org" %>.</p>
    <p> If you want to help with their transcription projects or 
        let them know about errors in the music, <%= link_to "send them a message", '/contact/' %>.</p>
  </div>
</div>
