<div class="container">
  <div class="col-md-9">
    <h3>Publications</h3>
      <p><%= link_to "Ganassi Embellishments <b>Regola Prima</b>".html_safe, "https://github.com/st-cecilia-press/embellishments_vol1/raw/master/book.pdf" %></p>
      <p><%= link_to "SCA Dance Fakebook","http://thedancingmaster.net/sca_dance_fakebook.pdf"%> edited by Aaron Elkiss. 
  </div>
</div>
