#repo ignore
public/stcpress-data
public/bel-accueil/
public/embellishments_vol1/
public/gervaise_quart_livre_de_danceries/
public/instrumental_pile/
public/miscellaneous/
public/sca_dance/
public/json/
#Git
.git
.gitignore

#logs
log/*

#temp files
tmp/*

