<h1>Voicings</h1>
<div id="voicing-list" data-behavior='list' data-valuename='voicing'>
  <%= render partial: 'shared/list_search' %>
  <ul class="list">
  <% @number_of_voices.each do |v| %>
    <li><%= link_to v, "/pieces/voicings/#{v}", class: 'voicing' %></li>
  <% end %>
  <% @voicings.each do |v| %>
    <li><%= link_to v.name, "/pieces/voicings/#{v.name}", class: 'voicing' %></li>
  <% end %>
  </ul>
</div>
