<h1>Composers</h1>
<div id="composer-list" data-behavior='list' data-valuename='name'>
<%= render partial: 'shared/list_search' %>
<ul class="list">
<% @composers.each do |composer| %>
<li><%= link_to composer.name, "/composers/#{composer.slug}", class: "name"%></li>
<% end %>
</ul>
</div>
