<h1><%=@composer.name%></h1>
<h3>Pieces</h3>
<div id="pieces-list" data-behavior="list" data-valuename="title">
<%= render partial: 'shared/list_search' %>
  <ul class="list">
  <% @composer.pieces.sort_by(&:title).each do |piece| %>
    <li><%= link_to piece.title, piece.url, class: "title" %></li>
  <% end %>
  </ul>
</div>
