<div  class="jumbotron" style="margin-top:40px;text-align:center">
  <div class="container">
  <h1>Welcome to the<br>SCA Dance Database</h1>
    <%= link_to 'Browse Dances', '/dances', class: 'btn btn-primary btn-lg' %>
  </div>
</div>
