<div class="jumbotron">
  <h1>Such Music!</h1>
  <p>This is a website with Monique Rio's editions of Public Domain Music</p>
  <p><a class="btn btn-primary btn-lg" href="/pieces" role="button">Explore Pieces</a></p>
</div>
