<div  class="jumbotron" style="margin-top:40px;text-align:center">
<div class="container">
<h1>Welcome to<br>St. Cecilia Press</h1>
  <p>Medieval and Renaissance Music Editions and Translations</p>
  <p>
  <form class="form col-xs-6 col-xs-offset-3" action="/search" method="post">
  <div>
    <input class="form-control input-lg" id="home-search" type="text" name="search" placeholder="Search">
  </div>
  <input type="hidden" id="hidden-home-slug" name="slug" value="">
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
  </form>
</div>
</div>

<script type="text/javascript">
$(document).ready( function () {
  
  var pieces = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(['title', 'composer']),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: 
      { url: '/api/pieces?q=%QUERY',
        wildcard: '%QUERY',
      } 
  });

  pieces.initialize();
  
  $('#home-search').typeahead(null, {
    display: function(data){ return data.title + ' (' + data.composer + ')' },
    source: pieces.ttAdapter(),

  }).on('typeahead:select', function(ev, suggestion){
      

      $('#hidden-home-slug').val(suggestion.slug);
  })//.on('change', function(){
    //$('#hidden-home-slug').val('')
  //});

});
</script>
