<div class="jumbotron" style="margin-top:40px">
  <h1>Welcome to St. Cecilia Press!</h1>
  <p>Home of Monique Rio and Aaron Elkiss's editions of Medieval and Renaissance Music</p>
  <p><%= link_to 'Explore Pieces', '/pieces', { class: "btn btn-primary btn-lg"}%></p>
</div>
