<table class="table" data-behavior='dtable'>
  <thead>
    <tr><th>Title</th><th>Category</th></tr>
  </thead>
  <tbody>
    <% for @dance in @dances %>
    <tr>
      <td><%= link_to @dance.title, "/dances/#{@dance.slug}" %></td>
      <td><%= @dance.dance_category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
