<h1><%= @dance.title %> <small>By: <%=@dance.person.name%></small></h1>
<h3>Info</h3>
<b>Category:</b> <%=@dance.dance_category.name%>
<h3>Instructions</h3>
<%= @markdown.render(@dance.instructions.first.text) %>
