<h4>Singable Translation 
<a href="<%= translations_collection.editions(@piece)%>" class="btn btn-default btn-md">
<i class="far fa-file-pdf" aria-hidden="true"></i> PDF
</a> <small>By: Carol Anne Perry Lagemann (CC BY SA 4.0)</small></h4>

