<h1><%=@book.title%> <small><%= render partial: 'composer', collection: @composers, spacer_template: 'shared/comma'%></small></h1>
<table class="table">
    <tr><th>Piece</th><th>Composer</th></tr>
    <% @book.pieces.each do |piece| %>
        <tr><td><%= link_to piece.title, piece.url %></td><td><%=piece.composer.name%></td></tr>

    <% end %>
</table>
