<h1>Tags</h1>
<div id="tag-list" data-behavior='list' data-valuename='name'>
<%= render partial: 'shared/list_search' %>
    <ul class="list">
        <% @tags.each do |tag| %>
            <li><%= link_to tag.name, "/tags/#{tag.name}", class: "name"%> <span class="badge"><%= tag.pieces.count %></span></li>
        <% end %>
    </ul>
</div>
