@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables.bootstrap.min";
@import 'font-awesome';
@import "typeaheadjs";

body {
  padding-top: 50px;
}
.base {
  margin-bottom: 60px;
}
html {
  position: relative; 
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin-top: 10px;
}
