<h1>Manuscripts</h1>
<table class="table">
    <tr><th>Name</th><th>Archive</th><th>Shelfmark</th></tr>

<% for @manuscript in @manuscripts %>
<tr>
    <td><%= link_to @manuscript.name, manuscript_path(@manuscript.slug) %></a></td>
  <td><%=@manuscript.archive%></td>
  <td><%=@manuscript.shelfmark%></td>
</tr>
<% end %>
</table>
